.navbar {
    color: #ffff;
    height: 102px;
    width: 1440px;
}

.navbar li {
    float: left;
    padding-top: 40px;
    list-style: none;
}

.navbar li a {
    font-family:'Open Sans';
    color: #000000DE;
    font-size: 16px;
    text-decoration: none;
    padding-left: 64px;

}
.navbar li a:hover { 
    color: #DF1CC5;
  }

.faixa1 {
    background-image: -webkit-radial-gradient(right 95%, #FE1390 0%,#DF1CC5 100%);
    background-color: #DF1CC5;
    width: 1440px;
    height: 650px;
    margin-top:-40px;
}

.faixa1 h1 {
    padding-left: 141px;
    padding-top: 186px;
    text-align: left;
    font-size: 64px;
    font-family:'Open Sans Extrabold';
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    text-transform: uppercase;
    opacity: 1;
}

.faixa1 button {
    margin-left: 141px;
    background-color: transparent;
    border: 3px solid #ffff;
    width: 250px;
    height: 63px;
    top: 401px;
    left: 141px;
    text-align: center;
    font-family: 'PT Sans';
    letter-spacing: 1.8px;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.faixa1 img {
    position: absolute;
    left: 690px;
    top: 177px;
    width: 750px;
    height: 500px;
}

.faixa2 {
    top: 752px;
    width: 1440px;
    height: 650px;
    background-color: #ffff;

    margin-top: -28px;
}

.faixa2 h1 {
    padding-top: 103px;
    padding-left: 735px;
    text-align: left;
    font-family:'Open Sans Semibold';
    font-style: italic;
    font-size: 48px;
    color: #000000DE;
    text-transform: uppercase;
}

.faixa2 h2 {
    margin-left: 735px;
    text-align: left;
    margin-top: 24px;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #00000094;
}
.faixa2 ul {
    margin-top: 24px;
    text-align: left;
    margin-left: 751px;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #00000094;
}

.faixa2 button {
    width: 300px;
    height: 63px;
    margin-top: 24px;
    margin-left: 735px;
    border: 1px solid #DF1CC5;
    background-color: transparent;
    font-family: 'PT Sans Regular';
    font-size: 18px;
    text-align: center;
    color: #DF1CC5;
    text-transform: uppercase;
}

.faixa2 img {
    width: 749px;
    height: 500px;
    position:absolute;
    top: 827px;
    left: 0px;
}

.faixa3 {
    width: 1440px;
    height: 650px;
    background-color: #F5F5F5;
    margin-top: -30px;

}

.faixa3 h1 {
    padding-top: 66px;
    margin-left: 438px;
    font-family: 'Open Sans Semibold';
    font-size: 48px;
    font-style: italic;
    text-transform: uppercase;
    color: #000000DE;
    text-align: left;
}
.faixa3 h2 {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #00000094;
    text-align: center;
}

.card1 {
    margin-top: 64px;
    margin-left: 301px;
    width: 256px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
}
.card1:hover {
    margin-top: 0px;
    margin-left: 250px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 3px 15px #FE139030;
}
.card1hover{
    opacity: 0;
}
.card1:hover .card1hover {
    position: absolute;
    top: 1935px;
    left: 310px;
    width: 208px;
    height: 78px;
    background: #FE1390;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
    opacity: 1;
    transition: opacity 500ms linear;
}

.card1:hover .cardimg1 {
    margin-left: 105px;
}

.card1hover p {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.card2 {
    margin-top: -255px;
    margin-left: 587px;
    width: 256px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
}
.card2:hover {
    width: 300px;
    height: 300px;
    margin-left: 565px;
    margin-top: -300px;
    box-shadow: 0px 3px 15px #FE139030;
}
.card2hover {
    opacity: 0;
}
.card2:hover .card2hover{
    position: absolute;
    top: 1935px;
    left: 618px;
    width: 208px;
    height: 78px;
    background: #FE1390;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
    transition: opacity 500ms linear;
    opacity: 1;
}

.card2:hover .cardimg2 {
    margin-left: 80px;
}

.card2hover p {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.card3 {
    margin-top: -255px;
    margin-left: 873px;
    width: 256px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
}
.card3:hover{
    width: 300px;
    height: 300px;
    margin-left: 851px;
    margin-top: -300px;
}
.card3hover{
    opacity: 0;
}
.card3:hover .card3hover {
    position: absolute;
    top: 1950px;
    left: 905px;
    width: 208px;
    height: 78px;
    background: #FE1390;
    box-shadow: 0px 3px 6px #FE13900F;
    border-radius: 16px;
    transition: opacity 500ms linear;
    opacity: 1;
}
.card3:hover .cardimg3 {
    margin-left: 95px;
}
.card3hover p {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.cardimg1 {
    margin-top: 64px;
    margin-left: 81px;
    width: 95px;
    height: 128px;
}

.cardimg2 {
    margin-top: 58px;
    margin-left: 46px;
    width: 164px;
    height: 128px;
}

.cardimg3 {
    margin-top: 64px;
    margin-left: 68px;
    width: 120px;
    height: 128px;
}

.faixa4 {
margin-top: -30px;
    left: 0px;
    width: 1440px;
    height: 418px;

}

.faixa4 h1 {
    padding-top: 72px;
    margin-left: 339px;
    font-family: 'Open Sans Semibold';
    font-size: 48px;
    font-style: italic;
    text-transform: uppercase;
    color: #000000DE;
}

.faixa4 h2 {
    margin-left: -200px;
    margin-top: -20px;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #00000094;
    text-align: center;
}

.faixa4 img {
    margin-top: -168px;
    margin-left: 933px;
    width: 111px;
    height: 200px;
}

input,
textarea {
    margin-top: 31px;
    margin-left: 621px;
    width: 480px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 30px;
}

::-webkit-input-placeholder { 
   color: #0000005E;
   font-family: 'Open Sans Regular';
    font-size: 16px;
}

:-moz-placeholder {
   color:#0000005E;
   font-family: 'Open Sans Regular';
   font-size: 16px;
}

::-moz-placeholder {
   color: #0000005E;  
   font-family: 'Open Sans Regular';
    font-size: 16px;
}

:-ms-input-placeholder {  
   color: #0000005E;  
   font-family: 'Open Sans Regular';
   font-size: 16px;
}

.botaoform {
    padding-bottom: 5px;
    margin-left: -100px;
    width: 99px;
    height: 44px;
    background: radial-gradient(#FE1390 , #DF1CC5 );
    border:transparent;
    border-radius: 22px;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
} 

.elemento{
    top: 2470px;
    margin-left: 141px;
    width: 1158px;
    height: 1px;
    background: #FE1390;
    border-radius: 2px;
}
.pesquerdo {
    margin-left: 141px;
    font-family: 'Open Sans Regular';
    font-size: 12px;
    color: #0000005E;
}
.pdireito {
    margin-top: -25px;
    margin-left: 1102px;
    font-family: 'Open Sans Regular';
    font-size: 12px;
    color: #0000005E;

}

